<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>Blueprint</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Blueprint</title>
    <link rel="stylesheet" href="css/xulu.css" type="text/css" charset="utf-8" />
</head>
<body>
{{ content }}
<script type="text/javascript">
var _gaq = _gaq || [];
_gaq.push(['_setAccount', 'UA-17254925-1']);
_gaq.push(['_setDomainName', '.devstructure.com']);
_gaq.push(['_trackPageview']);
(function() {
var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
})();
</script>
Style credits:
<a target="_blank" href="http://stackoverflow.com/questions/12232675/how-to-make-table-of-contents-floating">Floating TOC</a>
